@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 1
   
   Star Dust Stories Design Styles
   Author: Millione Johnson
   Date:  9/6/18    

   Filename: sd_effects.css

*/

/* HTML Styles */

html {
    background: url(sd_back1.png) fixed;
    background-size: 100%;
}

/* Set a background image to cover 100 percent of the html background. */
/* Body Styles */

body {
    background: url(sd_back2.png), radial-gradient(circle closest-corner at 40% 70%, white 15%, rgba(151, 151, 151, 0.5) 50%), radial-gradient(circle closest-corner at 80% 40%, white 15%, rgba(0,0,0,0) 30%), radial-gradient(closest-side at 10% 20%, white 15%, rgba(0, 0, 0, 0) 45%), radial-gradient(5% 5% at 90% 10%, white 15%, rgba(0,0,0,0) 45%);
    background-color: rgb(151, 151, 151);
    box-shadow: rgb(31, 31, 31) 30px 0px 45px, rgb(31, 31, 31) -30px 0px 45px;
     

}

/* Set a background image for the body. A radial gradient was also added as a layer with the colors
white and gray. Added a box shadow around the body. */

     
 



/* Navigation List Styles */
body > header a {
    border: outset 5px rgb(211, 211, 255);
}



/* Section Left Styles */

section#left h1 {
    color: rgb(211, 211, 211);
    text-shadow: black 0px 0px 5px;

}

#mportrait {
    filter: drop-shadow(-15px 0px 5px rgba(51, 51, 51, 0.9)) grayscale(0.7) opacity(0.6);
    -webkit-filter: drop-shadow(-15px 0px 5px rgba(51, 51, 51, 0.9)) grayscale(0.7) opacity(0.6); 
    transform: rotateY(180deg);

}

/* In the navigation, an outset border was set at five pixels. An h1 element with an id of left was set to a
text color of light blue. A small text shadow was set around the text. an image with an id of mportrait 
has filter applied. The filter creates a dark grey drop shadow and adds other filters such as grayscale
and opacity. The image is flipped 180 degrees using the transform property. */




/* Footer Styles */

footer {
    border-top: solid 2px rgb(171, 171, 171);

}
